.header
    width: 85%
    h1
        margin: 2rem 0 0
    h1, h2
        font-weight: normal
    h2
        color: #aaa
        letter-spacing: 2px
        margin: 0 0 2rem

.navbar
    border-bottom: 1px solid #ddd
    margin: 0 0 1rem
    padding: 1rem
    li
        display: inline-block